In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
crime_data_to_load = "Resources/MPD__Public_Safety_Incidents.csv"

In [2]:
# Read the School Data and Student Data and store into a Pandas DataFrame
crime_data_df = pd.read_csv(crime_data_to_load)

In [3]:
# Determine if there are any missing values. 
crime_data_df.count()

crime_id               1048575
offense_date           1048575
agency_crimetype_id    1048575
city                   1047229
state                  1048482
100 Block Address      1048524
Category               1048575
dtype: int64

In [4]:
# Check names.
crime_data_df.head(25)

,crime_id,offense_date,agency_crimetype_id,city,state,100 Block Address,Category
0,0601007342ME [15:233],1/15/2006 19:20,Robbery/Individual,Memphis,TN,Getwell//Rhodes,Robbery
1,0601004582ME [01:887],1/10/2006 13:00,Purse-Snatching,Memphis,TN,Union\\Cleveland,Theft
2,0602003933ME [54:677],2/8/2006 23:50,Aggravated Assault,Memphis,TN,Thomas//N Watkins,Assault
3,0601012210ME [23:150],1/25/2006 7:30,Aggravated Assault,Memphis,TN,Person//Castex,Assault
4,0601011952ME [53:767],1/11/2006 22:00,Vandalism/Misdemeanor,Memphis,TN,2200 Lola,Property Crime
5,0603000342ME [47:980],2/27/2006 0:00,Intimidation,Memphis,TN,6100 Walnut GRV,Assault
6,0603000617ME [48:807],2/27/2006 23:30,Aggravated Assault,Memphis,TN,4000 Barbara VL,Assault
7,0602011002ME [42:527],2/21/2006 19:00,Theft of Vehicle Parts/Accessories,Memphis,TN,Frayser//Watkins,Theft
8,0603002553ME [41:873],3/5/2006 8:43,Drug Equipment Violation,Memphis,TN,Union And Morrison,Drugs
9,0602013229ME [51:883],1/1/2006 12:00,Other Theft/Non-Specific,Memphis,TN,3500 Coral,Theft
10,0602013280ME [51:643],2/28/2006 13:35,Simple Assault/DV,Memphis,TN,2000 South Parkway,Assault
11,0603001744ME [50:987],3/3/2006 23:05,Simple Assault,Memphis,TN,Horn Lake// S Third,Assault
12,0603011774ME [21:590],3/20/2006 18:50,Simple Assault/DV,MEMPHIS,TN,500 Foote Park,Assault
13,0603006554ME [28:960],3/11/2006 20:00,Theft from Motor Vehicle,Memphis,TN,Linden/Main,Theft from Vehicle
14,0603007457ME [54:803],3/13/2006 15:00,Aggravated Assault/DV,Memphis,TN,Union//Pauline,Assault
15,0603011759ME [18:240],3/20/2006 21:15,Aggravated Assault,Memphis,TN,3800 Canary Ln Cv E,Assault
16,0603014110ME [05:453],3/24/2006 7:30,Shoplifting/Misdemeanor,Memphis,TN,298emallory,Theft
17,0604001395ME [45:447],4/3/2006 7:52,Robbery/Individual,Memphis,TN,Madison/Cleveland,Robbery
18,0603012067ME [11:520],3/20/2006 15:00,Simple Assault,Memphis,TN,Lauderdale Near Crump,Assault
19,0603012880ME [08:700],3/22/2006 0:25,Theft from Motor Vehicle,Memphis,TN,2800 Pendelton,Theft from Vehicle
20,0603016811ME [03:907],3/28/2006 13:15,Purse-Snatching,Memphis,TN,Polpar/Holmes,Theft
21,0603014769ME [17:453],3/24/2006 16:50,Theft from Motor Vehicle,Memphis,TN,WHITE STA//ESTATE,Theft from Vehicle
22,0603007858ME [56:607],3/14/2006 9:15,Shoplifting/Misdemeanor,"Memphis,TN",TN,500 E Crump,Theft
23,0603016579ME [49:583],3/27/2006 21:00,Simple Assault/DV,Memphis,TN,Park//Haynes,Assault
24,0603018119ME [53:487],3/30/2006 2:15,Simple Assault/DV,Memphis,TN,1200 Doris,Assault

In [5]:
crime_data_df.isnull().sum()

crime_id                  0
offense_date              0
agency_crimetype_id       0
city                   1346
state                    93
100 Block Address        51
Category                  0
dtype: int64

In [6]:
# drop those null rows
not_null_df = crime_data_df[crime_data_df['city'].notnull()]

In [7]:
not_null_df = not_null_df[
['state', 'city', '100 Block Address', 'Category']]
not_null_df.head()

  state     city  100 Block Address        Category
0    TN  Memphis    Getwell//Rhodes         Robbery
1    TN  Memphis   Union\\Cleveland           Theft
2    TN  Memphis  Thomas//N Watkins         Assault
3    TN  Memphis     Person//Castex         Assault
4    TN  Memphis          2200 Lola  Property Crime

In [8]:
# how many values are null and on which columns?
not_null_df.isnull().sum()

state                75
city                  0
100 Block Address    48
Category              0
dtype: int64

In [9]:
# how many records do we have
not_null_df.count()

state                1047154
city                 1047229
100 Block Address    1047181
Category             1047229
dtype: int64

In [10]:
# save final dataframe to a csv file
not_null_df.to_csv("Resources\clean_crime.csv")